build
dist / media
node_modules
.DS_Store
.next
.vercel

public/robots.txt
public/sitemap*.xml

# Environment variables
.env
.env.local
.env*.local
shamal.env
test.env

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
